<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Roku Streaming Service</title>
</head>
<body>
    <main id="app">
<h1> using Handlebars is Easy!</h1>
<h3>what follows is dynamic, server-side rendered content:</h3>
    
    {{!-- this is where handlebars will inject its templates --}}
    {{!-- this is like aphp include statment --}}
    
    {{{body}}}  

</main>
<script defer type="module" src="scripts/main.js"></script>
</body>
</html>